<div class="wgrid">
	<h1>Work</h1>


              <% if (page=== 'work') { %>


              	        <% appdata.works.forEach(function(item){ %>
							<a href="/work/<%= item.namecase %>" class="coholder"><img src="/images/<%= item.namecase %>.jpg"><p><%= item.namecase%></p></a>

						<% });  %>





      <% } else { %>


				<% for (i=0; i<projects.length; i++) { %>

				<span><%= projects[i] %></span>


				<% } %>

				<% for (i=0; i<clients.length; i++) { %>


				<img src="/images/projects/<%= clients[i] %>">

				<% } %>





      <% }; %>




















</div>