
	
	<div class="wgrid">

	<% if (page=== 'work') { %>



	<h1>Work</h1>

	<ul class="grid effect-2" id="grid">

		<% appdata.works.forEach(function(item){ %>
			<li><a href="/work/<%= item.namecase %>" class="coholder"><img src="<%= item.preview %>"><p><%= item.namecase%></p></a></li>
		<% });  %>

	</ul>








	<% } else { %>


		<div class="tableft">

		<% for (i=0; i<projects.length; i++) { %>

			<span><%- projects[i] %></span><br/>


		<% } %>


		</div>

		<ul class="grid effect-2" id="grid">

			<% for (i=0; i<clients.length; i++) { %>

				<li><img src="/images/projects/<%= clients[i] %>" class="coholder2"></li>

			<% } %>

		</ul>


		<style type="text/css">

			@media screen and (max-width: 2900px) {

				.grid li {
					width: 99%;
					margin-left: 0.75%;
				}

			}

		</style>



	<% }; %>


	</div>


		<script>
			new AnimOnScroll( document.getElementById( 'grid' ), {
				minDuration : 0.4,
				maxDuration : 0.7,
				viewportFactor : 0.2
			} );
		</script>




















