
	
	<div class="wgrid">

	<% if (page=== 'work') { %>



		<h1>Work</h1>


		<% appdata.works.forEach(function(item){ %>
		<a href="/work/<%= item.namecase %>" class="coholder"><img src="<%= item.preview %>"><p><%= item.namecase%></p></a>

	


	<% });  %>

	</div>



	<% } else { %>


		<div class="tableft">

		<% for (i=0; i<projects.length; i++) { %>

			<span><%- projects[i] %></span><br/>


		<% } %>


		</div>

		<div class="wgrid">


		<% for (i=0; i<clients.length; i++) { %>


			<img src="/images/projects/<%= clients[i] %>" class="coholder2">

		<% } %>


		</div>


	<% }; %>




















